/* global css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
.btn:hover{
    background-color: grey;
    border-radius: 10px;

}
.pink{
    color: #FF42A5;
}
.gorib{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
}




/* 
nav bar css */ 
nav{
    height: 130px;
    background: #FFF;
}
nav,nav div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}
.nav-one >,.nav-two >,.nav-three >{
    padding-right: 20px;
    
}
.nav-one{
    gap: 15px;
}
.nav-three{
    gap: 5px;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.nav-one span,h1{
    font-size: 45px;
    font-weight: 700;
    font-family: "Work Sans";

}

/* banner */
.banner{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
button a{
    text-decoration: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    
}
button{
    background-color: #FF42A5;
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    margin-right: 20px;
}
.blue{
    background: #4EC5F7;
}
#play{
    color: #0B0223;
    
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;

}
.bgm{
    width: 901px;
    height: 700px;
    background-image: url(images/Group\ 14.png);
    background-size: auto;   
}
.pera{
    margin-left: 200px;
    
}
.goat{
    font-family: "Work Sans";
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}









/* mobile responsive part */

/* nav part */
@media screen and (max-width:500px) {
    nav{
        height: 380px;
        background: #fff;
    }
    nav{
        display: grid;
        grid-template-rows: repeat(1,fr);
        gap: 0px;

    }
    nav div{
        display: flex;
        flex-direction: column;
    }
    .nav-one >,.nav-two >,.nav-three >{
        padding-right: 0px;
        
    }
    .nav-one{
        margin: 0px;
        padding: 0px;  
        flex-direction: row;
        justify-content: space-around;
        gap: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
        

    }
    .nav-one h1{
        margin: 0px;
        padding: 0px;
    }
    .nav-two{
        gap: 0px;
    }
    .nav-three{
        flex-direction: row;
        margin-top: 50px;
        gap: 5px;
        width: 262px;
        height: 56px;
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
    }
    .nav-three h3{
        font-size: 18px;
    }
    .nav-three img{
        width: 33.916px;
        height: 27.756px;
    }
    .btn:hover{
        background-color: rgb(175, 171, 171);
        border-radius: 5px;
    
    }
    /* banner */
    .banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .banner img{
        height: 100%;
        width: 100%;
    }

    }
    .goat{
        text-align: center;
        font-family: Work Sans;
        font-size: 85px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        padding-left: 5px;
    }
    #play{
        color: #0B0223;
        text-align: center;
        font-family: Work Sans;
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0px;
        margin-top: 50px;
    }
    .gorib{
        color: #534C64;
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 500;
        margin-left: 62px;

    }
    .bgm{
        width: 425px;
        height: 500px;
        background-size: auto;  
        margin-top: 50px;
    }
    .banner button{
        position: relative;
        left: 40px;
        
    }
    .pera{
        margin-left: 20px;
    }
}
